{% extends 'Company/Head.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td colspan="2" align="center"><img src="{{company.company_logo.url}}" width="150" height="150" alt=""></td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{company.company_name}}</td>
        </tr>
        <tr>
            <td>Contact</td>
            <td>{{company.company_contact}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{company.company_email}}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>{{company.company_address}}</td>
        </tr>
        <tr>
            <td><a href="{% url 'Company:editprofile' %}">Edit Profile</a></td>
            <td><a href="{% url 'Company:changepassword' %}">Change Password</a></td>
        </tr>
    </table>
    {% if msg %}
    <script>
        alert('{{ msg }}');
        window.location = "{% url 'Company:profile' %}"
    </script>
    {% endif %}
</body>
</html>
{% endblock content %}